[submodule "polyhook"]
	path = polyhook
	url = https://github.com/drunderscore/PolyHook.git
	branch = master
[submodule "sdk2013"]
	path = sdk2013
	url = https://github.com/mitchcl/source-sdk-2013.git
	branch = next
